<div class="card mt-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png" style="width: 300px" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"> Максатбек уулу Түгөлбай</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, non, quae. Ab animi blanditiis
          dignissimos dolore ea eaque et eveniet, ex explicabo fugit impedit in nulla numquam quae voluptas? Ad
          adipisci aliquam asperiores aspernatur assumenda, beatae dicta distinctio dolore dolorum ducimus, earum eos
          incidunt iste iure minus necessitatibus nobis nostrum omnis optio praesentium ratione reprehenderit sapiente
          similique soluta suscipit tempora velit voluptatibus. Error fuga fugiat iusto magni odit omnis, perspiciatis
          placeat voluptatem! Accusantium ad at atque consequuntur cupiditate dicta dignissimos doloribus dolorum eaque,
          eius enim eveniet explicabo facere harum minus molestias mollitia odio ratione repudiandae sapiente
          similique ullam vero voluptatibus.
        </p>
        <p class="card-text"><small class="text-muted">07.05.2001</small></p>
      </div>
    </div>
  </div>
</div>
