<div class="loader" [ngClass]="getClass()"></div>

<div class="row mt-2">
  <div class="col-6">
    <h4>{{ headline }}</h4>

    <form (ngSubmit)="createPost()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          [(ngModel)]="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          [(ngModel)]="description"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary mr-5"
      >Save
      </button>
    </form>
  </div>
</div>
