<div class="card border-dark mt-3" style="max-width: 18rem;">
  <div class="card-header">Контакты</div>
  <div class="card-body text-dark">
    <h5 class="card-title">+996 500 66 28 22</h5>
  </div>
</div>

<div class="card border-dark mt-3" style="max-width: 18rem;">
  <div class="card-header">E-mail</div>
  <div class="card-body text-dark">
    <h5 class="card-title">mkstbkv@icloud.com</h5>
  </div>
</div>

<div class="card border-dark mt-3" style="max-width: 18rem;">
  <div class="card-header">Адрес</div>
  <div class="card-body text-dark">
    <h5 class="card-title">ул. Малдыбаева, 7/1</h5>
  </div>
</div>
