<div class="loader" [ngClass]="getClass()"></div>
<div class="card mt-5" *ngIf="post">
  <div class="card-header">
    {{ post.date }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text"> {{ post.description }}</p>
    <button
      type="button"
      class="btn btn-primary mr-5"
      routerLink="/posts/{{ id }}/edit"
    >Edit
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="delete()"
    >Delete post
    </button>
  </div>
</div>
