<div class="card mt-2 col-7 border-dark">
  <h5 class="card-header"> Created on {{ post.date }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <a routerLink="/posts/{{ id }}" class="btn btn-info">Read More  >></a>
  </div>
</div>
